@font-face {
  font-family: 'MiFuente';
  src: url('./assets/img/Rubik_Mono_One.zip');
}

.header {
    background-color: rgb(4, 4, 51);
    padding: var(--padding-mobile);
    display: flex;
    justify-content: space-between;
    align-items: center;


  }
  .header__title {
    margin-left: 20px;
    color:#ffff;
   
    font-size: 20px;
    visibility: hidden;
  }
  .header__menuham{
    font-size: 1.4rem;
    position: relative;
    z-index: 2;
    cursor: pointer;
  }
  
  
  .navbar__items{
    display: inline-block;
    color: azure;
    margin-right: 8px;
    
    font-size: 12px;
    
  }
  .navbar__label{
    color: #ffff;
  }
  .navbar__links {
    display: flex;
    flex-direction: column;
    height: 55px;
    width: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .navbar__link-active {
    color: var(--secondary-color);
  }
  .navbar__links i {
    margin-bottom: 5px;
    font-size: 1.2rem;
  }
  .hide{
    visibility: visible;
  }
  .item-hide{
    visibility: hidden;
  }
  @media screen and (min-width: 720px) {
    .header {
      padding: 0 0 0 var(--padding-tablet);
      border-bottom: 1px solid var(--border-color);
      height: 100px;
    }
    .hide{
      visibility: hidden;
    }
    .navbar {
      transform: translateX(0);
      transition-duration: 0ms;
      position: static;
      width: auto;
      height: auto;
      padding: initial;
      box-shadow: none;
      width: min(50%, 800px);
      background-color: transparent;
    }
    .navbar__list {
      flex-direction: initial;
      justify-content: space-evenly;
      gap: 0;
    }
    .navbar__items {
      border-left: 1px solid var(--border-color);
      border-right: 1px solid var(--border-color);
      padding: 0;
      height: 30px;
      display: flex;
      align-items: center;
      display: inline-block;
      margin-left: 50px;
      font-size: 20px;
    }
    .navbar__links{
      padding: 0 30px;
    }
    .header__title{
      font-size: 60px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      visibility: visible;
    }
    .navbar__label{
      color: #ffff;
    }
  }

@media Screen and (max-width: 500px){
  .navbar__items{
  display: inline-block;
  }
}